h1 {
    text-align: center;
    color: white;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: black;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.myImage {
    padding: 1% 5%;   
}

.myButtonPos {
    padding-top: 10%;
    text-align: center;  
}

.myButton {
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 2px double white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;    
}